@import "navbar.css";
@import "footer.css";

.products-container {
  max-width: 650px;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 50px;
}
.product-header {
  width: 100%;
  max-width: 650px;
  display: flex;
  justify-content: flex-start;
  border-bottom: 4px solid #eaeaea;
  margin: 0 auto;
}
.product-title {
  width: 45%;
}
.product-price {
  width: 15%;
  display: flex;
  align-items: center;
}
.product-quantity {
  width: 30%;
  border-bottom: 4px solid #eaeaea;
  display: flex;
  align-items: center;
}

.product-total {
  width: 10%;
  border-bottom: 4px solid #eaeaea;
  display: flex;
  align-items: center;
}
.product {
  width: 45%;
}
.fa-times-circle {
  font-size: 25px;
  color: #383838;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}
